body {
    font-size: 14px;
    background-image: url(https://pngicon.ru/file/uploads/gorizontalnyj-uzor.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.heading {
    font-style: italic;
    color: gold;
    font-size: 1.5em;
}

.text {
    color: crimson;
    font-size: 1em;
    line-height: 1.5em;
}

.marked {
    color: blue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.2em;
}

.cat {
    width: 500px;
    float: right;
}

.cat2 {
    width: 500px;
    display: block;
    margin: auto;
}

.container {
    width: 90%;
    margin: auto; 
}

a {
    color: coral;
}

a:visited {
    color: green;
}

a:hover {
    color: blue;
}